doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Apar
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
	body
		.container
			.row 
				.col-md-6.offset-md-3
					h1.text-center Apar Password Forgot
					form(action="/api/v1/users/forgotPassword" method="POST")
						.form-group
							label(for="password") Email
							input#email.form-control(type="email" name="email" placeholder="Enter email")
						button.btn.btn-primary(type="submit") Send Email
